.features {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

.features .container {
  padding: 0 15px;
}

.features .container .list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.features .container .list .element {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 264px;
}

.features .container .list .element .decoration {
  border: 1px solid var(--text-secondary-color);
  border-radius: 4px;
  background-color: var(--surface-default-color);
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .sronly-2 {
  color: var(--contrast-high-color);
  letter-spacing: 0.02em;
}

.features .sronly-3 {
  color: var(--contrast-high-color);
}

/* планшеты и мобильные */
@media screen and (max-width: 1157px) {
  .features {
    padding: 96px 0;
  }

  .features .container .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 72px 24px;
  }

  .features .container .list .element .decoration {
    display: none;
  }

  .features .container .list .element .sronly-3 {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
  }

  .features .container .list .element p {
    font-weight: 500;
  }
}

/* мобильные */
@media screen and (max-width: 767px) {
  .features {
    padding: 96px 0;
  }

  .sronly-3 {
    text-align: center;
  }

  .features .container .list {
    grid-template-columns: 1fr;
    gap: 72px;
  }
}

/* десктоп */
@media screen and (min-width: 1158px) {
  .features .container .list .element p {
    font-weight: 400;
  }

  .features .container .list .element .sronly-3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}
