.footer {
  background-color: var(--contrast-high-color);
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer .container {
  display: flex;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  max-width: 768px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
}

.footer .contant-left {
  max-width: 264px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.footer .logo {
  color: #f4f4fd;
}
.footer .socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .socials-wrapper .text,
.footer .sub-wrapper .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer .socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer .socials .soci-link {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--brand-default-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials .soci-link:hover,
.footer .socials .soci-link:focus {
  background-color: var(--success-color);
}

.footer .socials .soci-link .social-icon {
  width: 24px;
  height: 24px;
  fill: var(--surface-default-color);
}

/* -------------------------------------------------------------------------- */
/* -----------------------------  FORMA  ------------------------------------ */

.footer .sub-wrapper {
  margin-left: 83px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

/* планшеты */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .container {
    max-width: 768px;
    gap: 72px;
  }

  .footer .sub-wrapper {
    flex-basis: 100%;
    margin-left: 0;
  }
}

.footer .subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.footer .subscribe-label {
  display: block;
}

.footer .subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17; /* 14px / 12px */
  letter-spacing: 0.04em;
  color: #ffffff;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-input::placeholder {
  color: #ffffff;
}

.footer .subscribe-input:focus {
  border-color: var(--success-color);
}

.footer .subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 24px / 16px */
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: var(--brand-default-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .subscribe-btn:hover,
.footer .subscribe-btn:focus {
  background-color: var(--success-color);
}

.footer .subscribe-icon {
  fill: #ffffff;
}

/* только мобилки */
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    max-width: 320px;
  }

  .footer .contant-left,
  .footer .socials-wrapper,
  .footer .sub-wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .footer .contant-left {
    align-items: flex-start;
  }

  .footer .socials-wrapper {
    flex-basis: 100%;
  }

  .footer .subscribe-form {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .footer .subscribe-input {
    width: 100%;
    max-width: 100%;
  }

  .footer .subscribe-btn {
    width: 100%;
  }

  .footer .container .footer-text {
    margin-left: 0;
    margin-right: 0;
  }
}
