.hero {
  /* background-color: var(--contrast-high-color); */
  color: rgb(255, 255, 255);
  padding: 188px 0;

  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg.jpg");

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero .order-btn {
  background-color: var(--brand-default-color);
  color: white;
  padding: 16px 32px;
  /* max-width: 169px; */
  box-shadow: 0px 4px 4px 0px #00000026;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .order-btn:hover,
.hero .order-btn:focus {
  background-color: var(--brand-pressed-color);
  cursor: pointer;
}

.hero .title {
  max-width: 496px;
}

@media screen and (max-width: 1157px) {
  .hero {
    padding: 112px 0;
  }

  .hero .container {
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 112px 0;
  }

  .hero .container {
    gap: 72px;
  }

  .hero .title {
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
  }
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg@2x.jpg");
  }
}
