.portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
}

@media screen and (max-width: 1157px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.portfolio h2,
.portfolio h3 {
  color: var(--contrast-high-color);
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

/* планшеты */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio ul {
    gap: 72px 24px;
  }

  .portfolio li {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
    min-width: 0;
  }
}

/* мобильные */
@media screen and (max-width: 767px) {
  .portfolio ul {
    gap: 48px;
  }

  .portfolio li {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}

.portfolio li {
  max-width: 360px;
  min-width: 288px;
}

.portfolio .card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid var(--accent-subtle-color);
  border-top: none;
}

.portfolio .card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .card:hover {
  box-sizing: border-box;

  box-shadow:
    0 2px 1px 0 #2e2f4214,
    0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
}

/*-------- Анимация карточки ----------*/

.card-cover-wrap {
  position: relative;
  overflow: hidden;
}

.card-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background-color: var(--brand-default-color);
  color: var(--surface-default-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-cover-text {
  transform: translateY(0%);
}
